/*--------------------------------------------------
* FILE:         content.css
* AUTHOR:       Simon X. Han
* DESCRIPTION:
*   All css rules.
*--------------------------------------------------*/
html * {
  font-family: arial,helvetica,sans-serif;
  font-size: 16px;
}
#wrapper {
  width: 901px;
  margin: 0px auto;
  border: 1px solid #bbb;
  padding: 10px;
}
#header {
  border: 1px solid #bbb;
  padding: 10px;
  font-size: 20px;
  height: 24px;
}
/* Applies to specific divs within header div */
#header div {
  font-size: 16px;
}
#content {
  margin-top: 10px;
  padding-bottom: 10px;
}
.textsub {
  position: relative;
  top: 0.3em;
  font-size: 70%;
}
#ucla {
  background-color: #2c5e91;
  font-size: 37px;
  margin: -11px 10px -11px -11px;
  padding: 0px 5px 0px 2px;
  color: white;
  font-weight: bold;
  font-style: italic;
}
#biocyb {
  background-color: #72b626;
  font-size: 25px;
  margin: -11px -11px -11px -11px;
  padding: 8px 9px 7px 9px;
  color: white;
  font-weight: bold;
  font-style: italic;
}
a.showhide:link {
  border-bottom: none;
}
.hormone-dropdown {
  border-radius: 5px;
  border: 4px solid #eee;
  background-color: #eee;
  width: 40px;
  height: 40px;
  margin: 0px -3px 8px -3px;
  font-weight: bold;
}
.hormone-dropdown-text-small {
  margin-left: -1px;
  font-size: 14px;
}
.downimg {
  vertical-align: bottom;
  width: 15px;
}
/* Applies to all divs within the content div */
/*--------------------------------------------------
* PROBLEM HERE: #content div declaration interferes with jqueryui
*--------------------------------------------------*/
#interactive-interface {
  width: 450px;
  height: 500px;
  padding: 10px;
}
#content div {
  border: 1px solid #bbb;
  float: left;
}
#content div.content-center {
  border-collapse: collapse;
  border: 0px; /* To counteract 1px border from above */
  width: 42px;
}
#content-right {
  padding: 10px;
  margin-left: 10px;
  width: 396px;
  height: 500px;
}
#content-right div {
  border-collapse: collapse;
  border: 0px; /* To counteract 1px border from above */
  /* height and width of the graphs are defined in thyrosim.js
   * where D3 is defined */
}
#content div.interface-input-options {
  display: block;
  border: none;
  margin: -16px 0px 10px -3px;
  width: 34px;
  border-radius: 5px;
  background-color: #eee;
  padding: 10px 2px 2px 0px;
}
.interface-input {
  box-shadow: none;
}
.interface-input-t3:hover, .interface-input-t3:active {
  box-shadow: 2px 2px 5px #12249c;
  border-radius: 5px;
}
.interface-input-t4:hover, .interface-input-t4:active {
  box-shadow: 2px 2px 5px #1c9c30;
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: gray;
}
a:link {
  border-bottom: 1px dotted;
}
a:hover {
  color: red;
}
a.img-input:link {
  border-bottom: none;
}
a.header-buttons-link {
}
a.header-buttons-link:hover {
  color: inherit;
}
.infoButton-clicked a.header-buttons-link:hover {
  color: white;
}
a.header-buttons-link:link {
  border-bottom: none;
}
.interface-input-options a:link {
  border-bottom: none;
}
#content div.interface-diagram {
  padding: 10px;
  margin-left: 10px;
  width: 374px;
  height: 478px;
  background-image: url("../img/sim.png");
  background-repeat: no-repeat;
  background-position: 50% 30%;
  border: 1px dashed #bbb;
}
#content div.parameditdiv {
  background-color: white;
  margin-top: 10px;
  width: 372px;
  height: 90%;
  border-collapse: collapse;
  border: 0px; /* To counteract 1px border from #content */
}
#content .paraminput {
}
#content label {
  font-size: 12px;
  display: inline-block;
  width: 30%;
}
#content .paramcol {
  font-size: 12px;
  float: left;
  width: 32.3%;
  margin-left: 2px;
  border-collapse: collapse;
  border: 0px; /* To counteract 1px border from #content */
}
#content .paramrow {
  width: 100%;
  margin-top: 2px;
  border-collapse: collapse;
  border: 0px; /* To counteract 1px border from #content */
}
#content .paramrow:after {
  content: "";
  display: table;
  clear: both;
}
/* Container for images */
#content div.imgcontainer {
  position: absolute;
  border-collapse: collapse;
  border: 0px; /* To counteract 1px border from #content */
}
.displaynone {
  display: none;
}
/* Define location of the highlight images */
#hilite1 {
  top: 315px;
  left: 168px;
}
#hilite2 {
  top: 208px;
  left: 124px;
}
#hilite3 {
  top: 315px;
  left: 188.5px;
}
#hilite4 {
  top: 200px;
  left: 131px;
}
/* Define location of the swallow pill images */
.spill {
  top: 79.7px;
  left: 34px;
}
/* Define location of the inject images */
.inject {
  top: 202px;
  left: 6px;
}
/* Define location of the infuse images */
.infuse {
  top: 249px;
  left: 6px;
}
/* This section deals with content-lower and what's in it */
#content-lower {
  float: left;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #bbb;
  width: 878px;
}
.relative {
  position: relative;
}
.adjuster {
  float: left;
  padding: 10px;
  width: 199px;
}
.slidercontainer {
  display: none;
  margin-top: 10px;
}
.textaligntop {
  vertical-align: text-top;
}
.textaligncenter {
  text-align: center;
}
.scrollbars {
  top: -4px;
}
/* This section deals with footer and what's in it */
.footer {
  float: left;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #bbb;
  width: 878px;
}
.subdiv {
  float: left;
  margin-top: 10px;
  margin-left: -30px;
  padding-left: 10px;
  width: 35%;
}
.subdiv .subdivtitle {
  margin-left: 50px;
}
.subdiv .subdivlist {
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 20px;
}
.subdiv a {
  font-size: 12px;
}
.subdiv ol {
  list-style: none;
  counter-reset: item;
}
.subdiv ol li {
  counter-increment: item;
  font-size: 12px;
}
.subdiv ol li:before {
  position: absolute;
  margin-left: -20px;
  content: counter(item);
  background: lightblue;
  border-radius: 100%;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
  font-size: 11px;
}
.padding-10 {
  padding: 10px;
}
.margin-bot-10 {
  margin-bottom: 10px;
}
/* To be aesthetically pleasing, the delete input buttons should bank right */
.bank-right {
  float: right;
}
.bank-left {
  float: left;
}

#footer-input {
  display: inline-block;
  padding-bottom: 20px;
}
/* Alternating input row colors */
/* row1 is not really needed b/c it's just a white background, but
 * included for consistency */
.row1 {
  display: block;
  background-color: #ffffff;
}
.row0 {
  display: block;
  background-color: #e5e5e5;
}
.inputcontainer {
  float: left;
  white-space: pre;
  width: 878px;
  padding: 1px 10px 1px 10px;
  margin-left: -10px;
}
.inputcontainer input[type=text] {
  line-height: 18px;
}
.inputimg {
  vertical-align: bottom;
  width: 18px;
}
/* Given to inputs in footer-input div, so jQuery can be used to easily select
 * the elements to rename when deleting inputs */
.inputs {
   margin-bottom: 2px;
}
/* Added and removed by thyrosim.js for invalid inputs */
.error {
  border: 2px solid red;
}
/* Given to the enable/disable span boxes.
 * 'enable' gives a yellowgreen background,
 * 'disable' gives a pinkish-red background.
 * Both get a dashed border */
.enDisInput {
  padding-left: 4px;
  padding-right: 4px;
  border: 1px dashed #bbb;
  cursor: pointer;
  width: 80px;
  text-align: center;
}
.enaInput {
  background-color: #7CFC00;
}
.disInput {
  background-color: #FFA6C9;
}
.delete-icon {
}
.cursor-pointer {
  cursor: pointer;
}
/* A loading.gif that follows the cursor */
/* loading.gif hidden at first */
.follow {
  display: none;
  position: absolute;
  background-color: #eeeeee;
  border: 1px dashed #bbb;
  padding: 4px 5px 1px;
  z-index: 2;
}
.followimg {
  display: inline;
  float: left;
}
/* Info buttons for displaying information */
.nonIEMsg {
  border: 2px solid red;
  background-color: #ffc0c0;
  padding: 2px;
}
.infoButton {
  border: 1px solid #5dacdf;
  background-color: #e2ebf1;
  margin-right: 10px;
  padding: 2px;
}
.infoButton div {
  position: absolute;
  visibility: hidden;
  z-index: 1;
}
.infoButton-clicked {
  border: 1px solid white;
  background-color: #696969;
}
.infoButton-clicked div {
  visibility: visible;
}
.infoButton-close {
  cursor: pointer;
  color: blue;
}
.color-black {
  color: black;
}
.color-white {
  color: white;
}
.infoButton .popup-rollover {
  border: 9px solid #696969;
  background-color: #F0F8FF;
  width: 500px;
  padding: 0px 15px 0px 15px;
  color: black;
  margin-left: -2px;
}
.unselectable {
  /* Makes text unselectable */
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.example-text {
  width: 65%;
  margin-right: 10px;
}
.example-image {
  vertical-align: top;
  width: 160px;
}
/*--------------------------------------------------
* Styles for line graph
*--------------------------------------------------*/
/* Axes stroke affect both axes and tick labels so we have to */
/* correct tick labels independently. */
.tick text {
  stroke: black;
  stroke-width: 0px;
  font: 11px sans-serif;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: 90px;
  height: 32px;
  padding: 2px;
  font: 14px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
